html,
body {
width: 100%;
height: 100%;
}

body {
font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
background: #42807d;
line-height: 1.2;
}

section, header {
  min-height: 630px;
}

a {
color: #fff;
-webkit-transition: all .2s;
-moz-transition: all .2s;
transition: all .2s;
}
a:hover, a:focus {
color: #256b7b;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
font-size: 20px;
line-height: 1.5;
margin-bottom: 20px;
}

hr {
  max-width: 60%;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.3);
}

/* Default Navbar Style: */
.bg-dark {
position: fixed;
width:100%;
}
.bg-dark .navbar-brand {
  font-family: 'Kaushan Script', 'Courgette';
  font-size: 30px;
  background-color: transparent;
}
.bg-dark .navbar-nav>li>a {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

a.nav-link {
  margin: 0 3px;
}
a.nav-link i.fa-chevron-down, i.fa-chevron-up {
  font-size: 12px;
  padding-left: 3px;
}

.btn-outline-info,
.btn-outline-warning {
  color: #fff !important; /* '!improtant' is necessary to overwrite the Bootstrap property */
  border-color:#fff;
}
.btn-outline-info:hover {
  border-color: #58a3b5;
}

/* When-srolling Navbar Style: */
.navbar-transparent .navbar {
background-color: transparent !important;
padding: 10px 5% 0 5%;
}
.navbar-transparent .navbar-brand {
  font-family: 'Kaushan Script', 'Courgette';
  font-size: 40px;
  color: #fff;
}
.navbar-transparent .navbar-nav>li>a {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.dropdown-menu {
  display:none;
    min-width: 12rem;
    padding: 15px 0;
    margin: 0;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    text-transform:uppercase;
    list-style: none;
    background-color: rgba(52, 58, 64, 0.5);
    border-radius: 5px; }
    .dropdown-menu li {
      padding: 8px;
      margin: 2px 0;
    }
    .dropdown-menu li a {
      padding: 10px 50px;
    }
    .dropdown-menu a:hover {
      background-color: rgba(52, 58, 64, 0.9);
      color: #FFFFFF;
      text-decoration:none;
    }
    .dropdown-menu a:active {
      background-color: #256b7b;
      color: #FFFFFF;
      text-decoration:none;
    }
    .dropdown-toggle::after {
    display: none;
    }

.display-3 {
  font-size: 45px;
  font-weight: 600;
}
.about-me {
  overflow: auto;
  background: #42807d;
  height: auto !important; /* Solves the height of the container div not extending with its content */
}
.content {
    padding-top: 100px;
    padding-bottom: 50px;
}

.jumbotron {
  background-color: transparent;
}

p.lead {
  text-align: justify;
  display:inline-block;
  text-indent: 0;
}
.main-image {
  float: left;
}
.main-image img {
  width: 100%;
}

#navbar-brand {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: infinite;
  -o-animation-duration: 2s;
  -o-animation-delay: 2s;
  -o-animation-iteration-count: infinite;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 2s;
  -ms-animation-iteration-count: infinite;
}

.polaroid-images a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
  position:relative;
}
/* .polaroid-images a:after {
	color: #333;
	font-size: 24px;
	content: attr(title);
	position: relative;
	top:15px;
} */
/*.polaroid-images img {
	display: block;
	width: inherit;
}

.polaroid-images a:hover {
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
transform: scale(1.2);
z-index:10;
-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
box-shadow: 0 10px 20px rgba(0,0,0,.7);
}*/


footer.page-footer {
    margin-top: 0;
    padding-top: 20px
}
.jumbotron{
    box-shadow: none;
}

.center {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 630px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.header {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
.navbar {
  padding: 0;
  padding-left: 1rem!important;
}
.navbar-brand {
  margin-left: 30px;
  margin-right:0;
}
.navbar-collapse .collapse {
  margin-right: 30px;
}
.navbar-collapse {
  margin-right: 30px;
}
.navbar-toggler {
  margin-right: 20px
}

.services {
  background-color: #eee;
  height: auto !important;
  padding: 100px;
  text-align: center;
}
.projects {
  background-color: #7d7e80;
  color: black;
}
.badge, .btn, .btn-primary.active:not([disabled]):not(.disabled), .btn-primary:not([disabled]):not(.disabled):active, .card:not([class*=card-outline-]), .chip, .jumbotron, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .show>.btn-primary.dropdown-toggle, .z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

ul.socials {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding-top: 15px;
}
li.list-item {
  padding: 5px;
  margin: 0 10px 0 10px;
  display: inline-block
}

.copyright {
  margin: 0;
  background-color: #42807d;
  font-size: 14px;
}
a.facebook:hover, a.facebook:focus {
    color: #3b5998;
}
a.skype:hover, a.skype:focus {
    color: #12A5F4;
}
a.linkedin:hover, a.linkedin:focus {
    color: #007bb5;
}
a.email:hover, a.email:focus {
    color: #dc3545;
}
a.phone:hover, a.phone:focus {
    color: #28a745;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #343a40;
}

.service-heading {
  text-align: center;
  margin: 25px 0 10px 0;
}

.red-text,
.cyan-text,
.orange-text {
  font-size: 72px;
  padding-bottom: 20px;
}

.red-text {
  color: red;
}

.cyan-text {
  color: cyan;
}

.orange-text {
  color: orange;
}
