/**
*
* Global Styling
*
*/
html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif;
  background: #eeeeee;
  line-height: 1.2;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif; }

p {
  font-size: 20px;
  line-height: 1.5; }

hr {
  width: 50%;
  border-width: 3px;
  border-color: #f05f40;
  opacity: 1; }

a {
  color: #fff;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
  a:hover, a:focus {
    color: #256b7b; }

/* I included this to only customize the height of specific sections by JavaScript, this would be the minimum value. */
.calc-height {
  min-height: 500px; }

.section-heading {
  text-transform: uppercase;
  font-weight: 800; }

/**
*
* Custom Scrollbar
*
*/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.btn-top {
  position: fixed;
  right: 10px;
  bottom: 32px;
  z-index: 5;
  padding: 10px 15px; }

#btnTop {
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@media screen and (max-width: 768px) {
  .section-heading {
    font-size: 1.75rem; } }

/**
*
* Navigation Bar
*
*/
#navbar {
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.navbar-brand {
  font-family: 'Kaushan Script', PT_Serif;
  color: #ffffff; }

/* Default Navbar Style (appears after scrolling up): */
.navbar-default {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1020;
  background-color: #f05f40 !important;
  border-bottom: 3px solid transparent; }
  .navbar-default .navbar-brand {
    font-size: 30px; }
    .navbar-default .navbar-brand:hover {
      color: #ffffff; }
  .navbar-default .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5) !important;
    text-transform: uppercase; }
    .navbar-default .nav-link:hover {
      color: rgba(255, 255, 255, 0.8) !important; }
  .navbar-default .nav-link.active {
    color: #ffffff !important; }

/*
* Transparent Navbar Style (appears before scrolling):
*/
.navbar-transparent {
  position: fixed;
  background-color: transparent !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  top: 0;
  z-index: 1020; }
  .navbar-transparent .navbar-brand {
    font-size: 30px; }
    .navbar-transparent .navbar-brand:hover {
      color: #ffffff; }
  .navbar-transparent .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5) !important;
    text-transform: uppercase; }
    .navbar-transparent .nav-link:hover {
      color: rgba(255, 255, 255, 0.8) !important; }
  .navbar-transparent .nav-link.active {
    color: #ffffff !important; }

#navbar-brand {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@media screen and (max-width: 768px) {
  .navbar {
    padding: 3px 16px; }
    .navbar .navbar-nav {
      flex-direction: row;
      margin: 0 auto;
      margin-top: 10px;
      padding-left: 0; }
      .navbar .navbar-nav .nav-item {
        margin: 0 2px; } }

@media screen and (max-width: 576px) {
  .navbar-default .navbar-brand {
    font-size: 25px; }
  .navbar-default .navbar-toggler {
    padding: .25rem .50rem;
    font-size: 1rem; }
  .navbar-default .navbar-nav {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 0; }
    .navbar-default .navbar-nav .nav-item {
      margin: 0 1px; } }

/**
* Head Section
*/
.header {
  background-image: url(../img/header.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  width: 100%;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }
  .header .occupation {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 0;
    font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif; }
  .header .my-name {
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800; }
  .header hr {
    width: 60%;
    border-width: 3px;
    border-color: #f05f40;
    opacity: 0.5; }

/**
*
* Media Queries
*
*/
@media screen and (max-width: 576px) {
  .header .occupation {
    letter-spacing: normal;
    line-height: 1.2; } }

@media screen and (max-width: 992px) {
  .header .my-name {
    letter-spacing: 5px;
    font-size: 40px;
    margin-top: .5rem; } }

/**
* About Me Section
*/
.about-me {
  background: #eeeeee;
  color: #212529; }
  .about-me h1, .about-me p {
    line-height: 1.5; }
  .about-me img {
    outline: 3px solid #ffffff;
    box-shadow: 1px 0 7px 2px rgba(0, 0, 0, 0.6);
    -webkit-filter: grayscale(50%);
    filter: grayscale(60%);
    -webkit-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s; }
    .about-me img:hover, .about-me img:focus {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }
  .about-me h2 {
    color: #f05f40;
    text-align: center;
    font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif; }
  .about-me .skills {
    background: #eeeeee;
    height: auto !important; }
  .about-me .default-headeing {
    width: 100%;
    min-height: 120px;
    padding: 20px 10px;
    background-color: #212529;
    text-align: center; }
    .about-me .default-headeing h2 {
      color: #ffffff;
      font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif; }

/**
*
* Media Queries
*
*/
@media screen and (max-width: 576px) {
  .summary {
    font-size: 16px;
    text-align: left; } }

@media screen and (max-width: 992px) {
  .about-me .calc-height {
    height: auto !important;
    /* Solves the height of the container div not extending with its content on small devices */ } }

/**
* Services Section
*/
.services {
  background-color: #ffffff;
  text-align: center;
  color: #666666; }
  .services h1 {
    color: #212529; }
  .services .service-heading {
    text-align: center;
    color: #f05f40; }
  .services .feature-title {
    color: #f05f40;
    font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif !important; }

/**
*
* Media Queries
*
*/
@media screen and (max-width: 992px) {
  .services {
    height: auto !important; } }

/**
* Projects Section
*/
.projects {
  background-color: #ffffff;
  color: #f05f40;
  height: auto !important; }
  .projects .default-headeing {
    min-height: 120px;
    padding: 20px 10px;
    background-color: #212529;
    text-align: center; }
    .projects .default-headeing h2 {
      color: #ffffff;
      font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif; }
  .projects .hovereffect {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #212529;
    outline: 1px solid #eeeeee; }
    .projects .hovereffect .overlay {
      width: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      padding: 40px 0; }
    .projects .hovereffect img {
      opacity: 1;
      display: block;
      position: relative;
      max-width: none;
      width: calc(100% + 20px);
      -webkit-transform: translate3d(-20px, 0, 0);
      -moz-transform: translate3d(-20px, 0, 0);
      -o-transform: translate3d(-20px, 0, 0);
      transform: translate3d(-20px, 0, 0);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .projects .hovereffect h1 {
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      position: relative;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1px;
      overflow: hidden;
      opacity: 0;
      margin: 0;
      margin-bottom: 5px;
      padding: 10px 0;
      -webkit-transition: transform 0.5s;
      -moz-transition: transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .projects .hovereffect h1:after {
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 0%;
      height: 2px;
      background: #ffffff;
      content: '';
      -webkit-transition: width 0.6s;
      -moz-transition: width 0.6s;
      -o-transition: width 0.6s;
      transition: width 0.6s; }
    .projects .hovereffect p {
      margin-left: 10%;
      width: 80%;
      color: #ffffff;
      font-size: 16px;
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      -webkit-transition: transform 0.5s;
      -moz-transition: transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0); }
    .projects .hovereffect:hover img {
      opacity: 0.1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .projects .hovereffect:hover h1 {
      opacity: 1; }
    .projects .hovereffect:hover h1:after {
      width: 80%; }
    .projects .hovereffect:hover p {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .projects a.finished-project:hover {
    cursor: pointer; }
  .projects a.unfinished-project:hover {
    cursor: wait; }

/**
*
* Media Queries
*
*/
@media screen and (max-width: 768px) {
  .hovereffect p {
    font-size: 20px; } }

@media screen and (max-width: 992px) {
  .projects {
    height: auto !important; } }

/**
* Footer
*/
.footer {
  width: 100%;
  height: 400px;
  background: #212529;
  color: #ffffff; }
  .footer h2 {
    font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif; }
  .footer hr {
    width: 10%;
    border-width: 3px;
    border-color: #f05f40;
    opacity: 0.8; }
  .footer .socials {
    list-style-type: none;
    width: 100%; }
    .footer .socials h4 {
      font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif; }
    .footer .socials ul {
      padding: 0;
      padding-top: 1rem;
      text-align: center;
      margin: 0; }
      .footer .socials ul li {
        padding: 5px;
        margin: 0 10px;
        display: inline-block; }
        .footer .socials ul li .facebook:hover,
        .footer .socials ul li .facebook:focus {
          color: #3b5998; }
        .footer .socials ul li .skype:hover,
        .footer .socials ul li .skype:focus {
          color: #12A5F4; }
        .footer .socials ul li .linkedin:hover,
        .footer .socials ul li .linkedin:focus {
          color: #007bb5; }
        .footer .socials ul li .email:hover,
        .footer .socials ul li .email:focus {
          color: #dc3545; }
        .footer .socials ul li .phone:hover,
        .footer .socials ul li .phone:focus {
          color: #28a745; }

.copyright {
  width: 100%;
  background-color: #eeeeee;
  color: #333333; }
  .copyright p {
    margin: 0;
    font-size: 14px; }

.row {
  margin: 0 auto; }

.btn {
  border-radius: 0; }

.btn-outline-primary {
  color: #f05f40 !important;
  border: 2px solid #f05f40 !important;
  background-color: transparent !important; }
  .btn-outline-primary:hover, .btn-outline-primary:focus {
    color: #ffffff !important;
    border: 2px solid #f05f40 !important;
    background-color: #f05f40 !important;
    box-shadow: 0 0 0 0 #ffffff !important; }
  .btn-outline-primary:active {
    color: #ffffff !important;
    border: 2px solid #f05f40 !important;
    background-color: #f05f40 !important;
    box-shadow: 0 0 0 0.2rem #ffffff !important; }

.btn-outline-info {
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  background-color: transparent !important; }
  .btn-outline-info:hover, .btn-outline-info:focus {
    color: #ffffff !important;
    border: 2px solid #f05f40 !important;
    background-color: #f05f40 !important;
    box-shadow: 0 0 0 0 #eeeeee !important; }
  .btn-outline-info:active {
    color: #ffffff !important;
    border: 2px solid #f05f40 !important;
    background-color: #f05f40 !important;
    box-shadow: 0 0 0 0.2rem #eeeeee !important; }

/* Remove the gutter between columns in Boostrap. */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.border-between > [class*='col-']:first-child:before {
  display: none; }

.nav-link {
  margin: 0 3px;
  /* Adding some space between navigation menu items. */
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif; }

@media (min-width: 576px) {
  .border-between > [class*='col-']:before {
    background: #ffffff;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 2px;
    top: 0; } }
