// Styling for About Me section


/**
* About Me Section
*/

.about-me {
  background: $grey-1;
  color: $grey-5;
  h1, p {
    line-height: 1.5;
  }

  img
  {
  	box-shadow: 1px 0 7px 2px $blackTran-2;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    @include transition(filter, 0.5s);

    &:hover,
    &:focus {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }

  h1 {
    color: $primary;

    &::first-letter {
      font-size: 50px;
    }
  }
}

/**
*
* Media Queries
*
*/

@media screen and (max-width: 576px) {
  .summary {
    font-size: 16px;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 992px) {
  .about-me {
    height: auto !important; /* Solves the height of the container div not extending with its content on small devices */
  }
}
