// Styling for About Me section


/**
* About Me Section
*/

.about-me {
  background: $grey-1;
  color: $black;

  h1, p {
    line-height: 1.5;
  }

  img
  {
    outline: 3px solid $white;
  	box-shadow: 1px 0 7px 2px $blackTran-2;
    -webkit-filter: grayscale(50%);
    filter: grayscale(60%);
    @include transition(filter, 0.5s);

    &:hover,
    &:focus {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }

  h2 {
    color: $primary;
    text-align: center;
    font-family: $PT_Serif;
  }

  .summary {
    a {
      text-decoration: none;
      color: blue !important;
    }
  }

  .skills {
    background: $grey-1;
    height: auto !important;
  }

  .default-headeing {
    width: 100%;
    min-height: 120px;
    padding: 20px 10px;
    @include background-image(url(../img/black.jpg), cover, no-repeat, $blackTran-2, none);
    text-align: center;

    h2 {
      color: $white;
      font-family: $PT_Serif;
    }
  }
}


/**
*
* Media Queries
*
*/

@media screen and (max-width: 576px) {
  .summary {
    font-size: 16px;
    text-align: left;
  }
}

@media screen and (max-width: 992px) {
  .about-me {

    .calc-height {
      height: auto !important; /* Solves the height of the container div not extending with its content on small devices */
    }
  }
}
