// Styling for the footer


/**
* Footer
*/

.footer {
  width: 100%;
  height: 400px;
  background: $black;
  color: $white;

  h2 {
    font-family: $PT_Serif;
  }

  hr {
    @include hr(10%, 3px, $primary, 0.8);
  }

  .socials {
    list-style-type: none;
    width: 100%;

    h4 {
      font-family: $PT_Serif;
    }

    ul {
      padding: 0;
      padding-top: 1rem;
      text-align: center;
      margin: 0;

      li {
        padding: 5px;
        margin: 0 10px;
        display: inline-block;

        .facebook:hover,
        .facebook:focus {
          color: $facebook;
        }

        .skype:hover,
        .skype:focus {
          color: $skype;
        }

        .linkedin:hover,
        .linkedin:focus {
          color: $linkedin;
        }

        .email:hover,
        .email:focus {
          color: $email;
        }

        .phone:hover,
        .phone:focus {
          color: $whatsapp;
        }
      }
    }
  }
}

.copyright {
  width: 100%;
  background-color: $secondary;
  color: $grey-5;

  p {
    margin: 0;
    font-size: 14px;
  }
}
