// Styling for the footer


/**
* Footer
*/

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: $grey-5;
  color: $white;

  .socials {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    ul {
      padding: 0;
      padding-top: 1rem;
      text-align: center;

      li {
        padding: 5px;
        margin: 0 10px 0 10px;
        display: inline-block;

        .facebook:hover,
        .facebook:focus {
          color: $facebook;
        }

        .skype:hover,
        .skype:focus {
          color: $skype;
        }

        .linkedin:hover,
        .linkedin:focus {
          color: $linkedin;
        }

        .email:hover,
        .email:focus {
          color: $email;
        }

        .phone:hover,
        .phone:focus {
          color: $whatsapp;
        }
      }
    }
  }

  .copyright p {
    margin: 0;
    background-color: $secondary;
    color: $grey-5;
    font-size: 14px;
  }
}
