// Styling for the navbar


/**
*
* Navigation Bar
*
*/

#navbar {
  @include animate(0.7s, 0s, 1);
}

.navbar-brand {
  font-family: 'Kaushan Script', PT_Serif;
  color: $navBrand;
}

/* Default Navbar Style (appears after scrolling up): */

.navbar-default {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1020;
  background-color: $navMain;
  border-bottom: 3px solid $navBorder;

  .navbar-brand {
    font-size: 30px;

    &:hover {
      color: $navBrandHover;
    }
  }

  .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: $navLink;
    text-transform: uppercase;

    &:hover {
      color: $navLinkHover;
    }
  }
  .nav-link.active {
    color: $navLinkActive;
  }
}

/*
* Transparent Navbar Style (appears before scrolling):
*/

.navbar-transparent {
  position: fixed;
  background-color: $navMainTrans;
  border-bottom: 2px solid $navBorderTrans;
  width:100%;
  top: 0;
  z-index: 1020;

  .navbar-brand {
    font-size: 30px;

    &:hover {
      color: $navBrandTransHover;
    }
  }

  .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: $navLinkTrans;
    text-transform: uppercase;

    &:hover {
      color: $navLinkTransHover;
    }
  }
  .nav-link.active {
    color: $navLinkTransActive;
  }
}

#navbar-brand {
  @include animate();
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 0;

    .nav-item {
      margin: 0 2px;
    }
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    background-color: $primary;

    .navbar-nav {
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      padding-left: 0;

      .nav-item {
        margin: 0 1px;
      }
    }
  }
}

@media screen and (max-width: 992px) {

}
