// Styling for Projects section


/**
* Projects Section
*/

.projects {
  background-color: $secondary;
  color: $primary;
  height: auto !important;
}

/* Custom hover effect for images */

.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: $black;
  outline: 1px solid $grey-1;

  .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 40px 30px;
  }

  img {
    opacity: 1;
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    @include transform3d(-20px, 0, 0);
    @include transition(all, 0.5s);
  }

  h1 {
    text-transform: uppercase;
    color: $white;
    text-align: center;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    background: $blackTran-2;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px 0;
    @include transition(background, 0.5s);
  }

  h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: $white;
    content: '';
    @include transition(width, 0.5s);
  }

  p {
    color: $white;
    font-size: 16px;
    opacity: 0;
    @include transition(opacity, 0.5s);
    @include transition(transform, 0.5s);
    @include transform3d(100%, 0, 0);
  }

  &:hover {
    img {
      opacity: 0.4;
      @include transform3d();
    }

    h1 {
      background: transparent;
    }

    h1:after {
      width: 100%
    }

    p {
      opacity: 1;
      @include transform3d();
    }
  }
}

a.finished-project:hover {
  cursor: pointer;
}

a.unfinished-project:hover {
  cursor: wait;
}


/**
*
* Media Queries
*
*/

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 768px) {
  .hovereffect p {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .projects {
    height: auto !important;
  }
}
