// Styling for Projects section


/**
* Projects Section
*/

.projects {
  background-color: #7d7e80;
  color: black;
  height: auto !important;
}

/* Custom hover effect for images */

.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: black;
  outline: 1px solid #eee;
}

a.finished-project:hover {
  cursor: pointer;
}

a.unfinished-project:hover {
  cursor: wait;
}

.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 60px 30px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
  margin-bottom: 5px;
  padding: 10px 0;
  -webkit-transition: background 0.35s;
  transition: background 0.35s;
}

.hovereffect:hover h1 {
  background: transparent;
}

.hovereffect h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: width 0.35s;
  /* -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0); */
}

.hovereffect:hover h1:after {
  width: 100%
  /* -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0); */
}

.hovereffect p {
  color: #FFF;
  font-size: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/**
*
* Media Queries
*
*/

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 768px) {
  .hovereffect a, .hovereffect p {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .projects {
    height: auto !important; /* Solves the height of the container div not extending with its content */
  }
}
