// Styling for Services section


/**
* Services Section
*/

.services {
  background-color: $white;
  text-align: center;
  color: $grey-4;

  h1 {
    color: $black;
  }

  .service-heading {
    text-align: center;
    color: $primary;
  }

  .feature-title {
    color: $primary;
    font-family: $PT_Serif !important;
  }
}


/**
*
* Media Queries
*
*/

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 992px) {
  .services {
    height: auto !important;
  }
}
